<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/?_method=PATCH" method="post">
        <label for="username">Digite seu username: </label>
        <input type="text" name="username" id="username" required value="<%= existingUser.username %>">
        <br><br>
        <label for="email">Digite seu email: </label>
        <input type="email" name="email" id="email" value="<%= existingUser.email %>">
        <br><br>
        <label for="password">Digite a senha: </label>
        <input type="text" name="password" id="password" value="<%= existingUser.password %>">

        <button type="submit">salvar</button>
    </form>
    <form action="/user?_method=DELETE" method="post">
        <button type="submit">Apagar</button>
    </form>
</body>
</html>