<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/event/newEvent">Novo Evento</a>

    <% if (existingEvents.length > 0) { %>
        <% existingEvents.forEach(event => { %>
            <div>
                <h2><%= event.date %></h2>
                <h3><%= event.description %></h3>

                <a href="/bingoCard?idEvent=<%= event.id %>">Nova cartela</a>
            </div>
        <% }) %>     
    <% } %>
</body>
</html>