<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/bingoCard?idEvent=<%= idEvent %>" method="post">
        <section>
            <input type="int" name="position_1">
        </section>
        <section>
            <input type="int" name="position_2">
        </section>
        <section>
            <input type="int" name="position_3">
        </section>
        <section>
            <input type="int" name="position_4">
        </section>
        <section>
            <input type="int" name="position_5">
        </section>
        <section>
            <input type="int" name="position_6">
        </section>
        <section>
            <input type="int" name="position_7">
        </section>
        <section>
            <input type="int" name="position_8">
        </section>
        <section>
            <input type="int" name="position_9">
        </section>
        <section>
            <input type="int" name="position_10">
        </section>
        <section>
            <input type="int" name="position_11">
        </section>
        <section>
            <input type="int" name="position_12">
        </section>
        <section>
            <input type="int" name="position_14">
        </section>
        <section>
            <input type="int" name="position_15">
        </section>
        <section>
            <input type="int" name="position_16">
        </section>
        <section>
            <input type="int" name="position_17">
        </section>
        <section>
            <input type="int" name="position_18" >
        </section>
        <section>
            <input type="int" name="position_19">
        </section>
        <section>
            <input type="int" name="position_20">
        </section>
        <section>
            <input type="int" name="position_21">
        </section>
        <section>
            <input type="int" name="position_22">
        </section>
        <section>
            <input type="int" name="position_23">
        </section>
        <section>
            <input type="int" name="position_24">
        </section>
        <section>
            <input type="int" name="position_25">
        </section>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>