<%- include('partials/head.ejs') %>

<body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <form action="/bingoCard?idEvent=<%= idEvent %>" method="post">
        <section class="mb-3">
            <input type="int" name="position_1" class="form-control">
        </section>
        <section class="mb-3">
            <input type="int" name="position_2" class="form-control">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_3">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_4">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_5">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_6">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_7">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_8">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_9">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_10">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_11">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_12">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_14">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_15">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_16">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_17">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_18" >
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_19">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_20">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_21">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_22">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_23">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_24">
        </section>
        <section class="mb-3">
            <input type="int" class="form-control" name="position_25">
        </section>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</body>
</html>